body {
    margin: 0;
}

.title-name {
    display: block;
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    font-family:'Corbel', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    font-weight: normal;
    color: black;margin: 0;
}

ul {
    overflow: hidden;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
  
li a {
    display: block;
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    font-family:'Corbel', 'Arial Narrow', Arial, sans-serif;
    font-size: 160%;
    color: black;
}

.img-user {
    border-radius: 100%;
    width: 500px;
    height: 500px;
}