body {
    margin: 0;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    /* background-color: #3c3c3c; */
    background-color: white;
}

button:hover {
    cursor: pointer;
}

.nav-menu {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    height: 10vh;
    background-color: black;
}

.title-name {
    display: block;
    margin: 0;
    /* font-family:'Courier New', 'Arial Narrow', Arial, sans-serif; */
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    color: white;
}

ul {
    overflow: hidden;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li a {
    display: block;
    margin-inline: 20px;
    /* font-family:'Courier New', 'Arial Narrow', Arial, sans-serif; */
    text-align: center;
    text-decoration: none;
    font-size: 130%;
    color: white;
    border-bottom: 2px solid black;
}

li a:hover {
    /* border-bottom: 2px solid white; */
}

.main-section-structure {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5vw; 
    height: 90vh;
}

.section-structure {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10vw; 
    height: 100vh;
}

.img-user {
    object-fit: cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.btn-downloadCV {
    padding: 20px;
    color: rgb(53, 53, 53);
    background-color: white;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 40px;
    font-family:'Corbel', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.btn-downloadCV:hover {
    color: white;
    background-color: rgb(53, 53, 53);
}

.btn-contactInfo {
    padding: 20px;
    color: white;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(53, 53, 53);
    border-radius: 40px;
    font-family:'Corbel', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.btn-contactInfo:hover {
    color: rgb(53, 53, 53);
    background-color: white;
}

.container {
    width: 100%;
    background-color: #ddd;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {width: 90%; background-color: #f44336;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f4e736;}
.php {width: 60%; background-color: #808080;}